<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis paginas favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis paginas favoritas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img src="https://images.unsplash.com/photo-1611162618071-b39a2ec055fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" />
    <ion-card-header>
      <ion-card-subtitle>fav:</ion-card-subtitle>
      <ion-card-title>Facebook uts</ion-card-title>
    </ion-card-header>
    <ion-button size="small" expand="block" class="ion-activatable ripple-parent" href="https://www.facebook.com/UTSalamanca" target="_blank">ir al sitio</ion-button>
  </ion-card>
  <ion-card>
    <img src="https://scontent.fgdl3-1.fna.fbcdn.net/v/t39.30808-6/272027156_5380402421989731_2296456527988966518_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeGtenpDmZ8aXlrszg8eH5uQlyEdWxQRlSCXIR1bFBGVIA9o81vyk6bH0w4igrbMP-u3FXqwvvn7O07SRmUlynpi&_nc_ohc=NWtuQPjljB8AX9mEk2s&_nc_ht=scontent.fgdl3-1.fna&oh=00_AT-3wVetmEI5iJLyP2VcHkfaRs39bJhL7oF8RZhPzVHK6Q&oe=622CBCA8"/>
    <ion-card-header>
      <ion-card-subtitle>fav:</ion-card-subtitle>
      <ion-card-title>Pagina uts</ion-card-title>
    </ion-card-header>
    <ion-button size="small" expand="block" class="ion-activatable ripple-parent" href="http://utsalamanca.edu.mx/" target="_blank">ir al sitio</ion-button>
  </ion-card>
  <ion-card>
    <img src="https://yt3.ggpht.com/ytc/AKedOLQyhlOshtpe6cxSJQrbkkJmhDx78cw8uuu9KwmB4xU=s88-c-k-c0x00ffffff-no-rj" />
    <ion-card-header>
      <ion-card-subtitle>fav:</ion-card-subtitle>
      <ion-card-title>Mars Programing</ion-card-title>
    </ion-card-header>
    <ion-button size="small" expand="block" class="ion-activatable ripple-parent" href="https://www.youtube.com/c/MARSProgramming" target="_blank">ir al sitio</ion-button>
  </ion-card>
  <ion-card>
    <img src="https://pbs.twimg.com/profile_images/1298292999315755009/8sD92Ml7_400x400.jpg" />
    <ion-card-header>
      <ion-card-subtitle>fav:</ion-card-subtitle>
      <ion-card-title>twitter uts</ion-card-title>
    </ion-card-header>
    <ion-button size="small" expand="block" class="ion-activatable ripple-parent" href="https://twitter.com/utsoficial?lang=es" target="_blank">ir al sitio</ion-button>
  </ion-card>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
